*{
	font-family: Noto Sans JP;
}

h1{
	font-family: Noto Sans JP;
	text-align: center;
	background-color: black;
	color: white;
    padding: 30px;

}

hr{
    border: 2px solid black;
    width: 50%;
}

p{
	font-family: Noto Sans JP;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 25px;
}
img{
 	border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}

header{
    background-color: black;
    padding: 20px;
}

ul{
	list-style: none;

}
li{
	display: inline;
	margin: 100px;
}

li a {
	color: white;
	text-decoration: none;
	font-family:  Noto Sans JP;
}


li a:hover {
	color: red;
	
}
footer{
	color: white;
	background-color: black;
    padding: 5px;
    text-align: center;

}
.special_para{
	font-size: 20px;
}
#this_one_is_special{
	color: blue;
}